@model Shooping.Data.Entities.Product

@{
    ViewData["Title"] = "Details";
}

<flash dismissable="true" />

<h1>Detalles</h1>

<div>
    <partial name="_ProductDetails" />    
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-success"><i class="fa-solid fa-arrow-rotate-left"></i> Regresar</a>
</div>
<hr />

<!-- Content Wrapper. Contains page content -->
<div class="row">
    <div class="col-md-6">
        <div class="container-fluid">
            <div class="card mt-2">
                <div class="card-header text-danger">
                    <i class="fa fa-file-image"></i>  <strong>Imágenes</strong>
                </div>
                <div class="card-body">
                    <div id="view-all">
                        @await Html.PartialAsync("_ViewAllImages", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container-fluid">
            <div class="card mt-2">
                <div class="card-header text-danger">
                    <i class="fa fa-object-group"></i>  <strong>Categorías</strong>
                </div>
                <div class="card-body">
                    <div id="view-all">
                        @await Html.PartialAsync("_ViewAllCategories", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_AddOrEditDialog" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/showmodal.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#ImagesTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [25, 50, 100, 200, -1],
                    [25, 50, 100, 200, "Todos"]
                ]
            });
            $('#CategoriesTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [25, 50, 100, 200, -1],
                    [25, 50, 100, 200, "Todos"]
                ]
            });
        });
    </script>

    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Products/DeleteImage/', false);
        sc_deleteDialog.openModal('deleteItem2', true, 'btnYesDelete', '/Products/DeleteCategory/', false);
    </script>
}
