@model Shooping.Data.Entities.Country

<h4>País</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.StatesNumber)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.StatesNumber)
    </dd>
</dl>
