@model Shooping.Data.Entities.State

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>¿Esta seeguro de querer borrar?</h3>
<div>
    <partial name="_StateDetails"/>    
    <form asp-action="DeleteState">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-outline-danger" />
        <a asp-action="Details" asp-route-id="@Model?.Country.Id" class="btn btn-outline-success">Regresar</a>
    </form>
</div>
