@model Shooping.Data.Entities.City

@{
    ViewData["Title"] = "Details";
}

<flash dismissable="true" />

<h1>Detalles</h1>

<div>
    <partial name="_CityDetails" />    
</div>
<div>
    <a asp-action="EditCity" asp-route-id="@Model?.Id" class="btn btn-outline-warning"><i class="fa-solid fa-pen-to-square"></i> Editar</a>
    <a asp-action="DetailsState"  asp-route-id="@Model?.State.Id" class="btn btn-outline-success"><i class="fa-solid fa-arrow-rotate-left"></i> Regresar</a>
</div>
