@model Shooping.Models.StateViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Departamento/Estado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditState">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CountryId" />
            <partial name="_State"/>            
            <div class="form-group mt-2">
                <input type="submit" value="Guardar" class="btn btn-outline-primary" />
                <a asp-action="Details" asp-route-id="@Model.CountryId" class="btn btn-outline-success" >Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
