html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@charset "utf-8";

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 370px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
    margin: 5px;
}

.card_title {
    font-size: 24px;
    padding: 10px 10px 0 10px;
}

.card_body {
    padding: 10px;
}

.card_foot {
    background: #6699ff;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    text-align: center;
}

.foot a {
    text-decoration: none;
    color: white;
}

.foot a:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: ""
}
