@model Shooping.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<flash dismissable="true" />

<div class="row">
    <div class="col-md-4  offset-md-4">
        <div class="card bg-light mb-3" style="width: 450px; height: 450px">
            <h5 class="card-header text-center"><i class="fa-solid fa-envelope text-navy"></i> Iniciar Sesión</h5>
            <div class="card-body bg-warning">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <div class="form-check">
                            <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                            <label asp-for="RememberMe" class="form-check-label"></label>
                        </div>
                        <span asp-validation-for="RememberMe" class="text-warning"></span>
                    </div>
                    <div class="form-group mt-2">
                        <button input type="submit" value="Login" class="btn btn-primary btn-block"><i class="fa-solid fa-user"></i> Iniciar Sesión</button>
                        <a asp-action="Register" class="btn btn-secondary"><i class="fa-solid fa-circle-plus"></i> Registrar Nuevo Usuario</a>
                    </div>
                </form>
            </div>
            <div class="card-footer bg-transparent text-center">
                ¿Has olvidado tu contraseña?<a asp-action="RecoverPassword"> Recuperala</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
