@model Shooping.Models.AddUserViewModel

@{
    ViewData["Title"] = "Register";
}

<h2>Registrar</h2>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Register" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserType" />
            <input type="hidden" asp-for="Countries" />
            <input type="hidden" asp-for="States" />
            <input type="hidden" asp-for="Cities" />

            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PasswordConfirm" class="control-label"></label>
                        <input asp-for="PasswordConfirm" class="form-control" />
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    </div>
                </div>
            </div>    

            <partial name="_User" />

            <div class="form-group mt-2">
                <input type="submit" value="Registrar" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#CountryId").change(function () {
                debugger;
                $("#StateId").empty();
                $("#StateId").append('<option value="0">[Selecciona un departamento/estado...]</option>');
                $("#CityId").empty();
                $("#CityId").append('<option value="0">[Selecciona una ciudad...]</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetStates")',
                    dataType: 'json',
                    data: { countryId: $("#CountryId").val() },
                    success: function (states) {
                        $.each(states, function (i, state) {
                            $("#StateId").append('<option value="'
                                + state.id + '">'
                                + state.name + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
                return false;
            })

            $("#StateId").change(function () {
                $("#CityId").empty();
                $("#CityId").append('<option value="0">[Selecciona una ciudad...]</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCities")',
                    dataType: 'json',
                    data: { stateId: $("#StateId").val() },
                    success: function (cities) {
                        $.each(cities, function (i, city) {
                            debugger;
                            $("#CityId").append('<option value="'
                                + city.id + '">'
                                + city.name + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve cities.' + ex);
                    }
                });
                return false;
            })
        });
    </script>
}
