@model IEnumerable<Shooping.Models.ProductsHomeViewModel>

@{
    ViewData["Title"] = "Index";
}

@foreach (var item in Model)
{
    <div class="row">
        @if (item.Product1 != null)
        {
            <div class="col-md-3">
                <img src="@item.Product1.ImageFullPath" style="width:200px;" />
            </div>
        }
        @if (item.Product2 != null)
        {
            <div class="col-md-3">
                <img src="@item.Product2.ImageFullPath" style="width:200px;" />
            </div>
        }
        @if (item.Product3 != null)
        {
            <div class="col-md-3">
                <img src="@item.Product3.ImageFullPath" style="width:200px;" />
            </div>
        }
        @if (item.Product4 != null)
        {
            <div class="col-md-3">
                <img src="@item.Product4.ImageFullPath" style="width:200px;" />
            </div>
        }
    </div>
}

