@{
    ViewData["Title"] = "Order Success";
}

<div class="row">
    <div class="col-md-4 offset-4">
        <img src="~/images/Shopping.png" style="width:400px;"/>
        <h2>¡Gracias!</h2>
        <h4>Su pedido fue registrado en nuestro sistema, pronto uno de nuestros asesores se comunicará con usted.</h4>
        <a asp-action="Index" class="mt-2 btn btn-outline-success">Inicio</a>
    </div>
</div>
